/*  your css code here. If applicable */
body {
	background-color: rgb(250, 250, 250);
}
.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust as needed */
    gap: 20px; /* Space between cards */
}

.card {
    border: 10px solid #ccc;
    background-color: #fafafa;
    padding: 20px; /* Add some padding */
}

.card h1 {
    font-size: 36px;
}

.card p {
    font-size: 18px;
}